.title {
  text-align: center;
}
.spans {
  text-align: center;
}
.spans .span2 {
  color: red;
}
.text {
  text-align: center;
}
.image {
  text-align: center;
}
.image img {
  text-align: center;
  width: 250px;
  height: 250px;
  margin-top: 20px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}
